.Login {
    display: flex;
    height: 100vh; 
    background-color: #fff;
}

.Login__left {
    background-color: #f6f6f8;
    width: 50%;
    position: relative;
}

.Login__right {
    width: 50%;
    display: flex; 
}

.Login__left--logo {
    position: absolute;
    top: 10%;
    left: 42%;
    height: 70px;
}

.Login__left--descr {
    position: absolute;
    top: 20%;
    left: 37%;
    color: #757575;
    font-size: 18px;
}

.Login__left--intro {
    padding-top: 35%;
    font-size: 24px;
    text-align: center;
}

.Login__left--intro span {
    display: block;
    margin-bottom: 7px;
}

.Login__right--form {
    display: flex; 
    justify-content: center;
    vertical-align: auto;
}